*.pyc
__pycache__
.DS_Store
._*
src/db.sqlite3
src/static
src/yeast_libraries/static/yeast_libraries/js/mockUp.js
src/yeast_libraries/static/yeast_libraries/css/mockUp.css
src/yeast_libraries/static/yeast_libraries/img/danny_1.png
src/yeast_libraries/static/yeast_libraries/img/danny_2.png
src/yeast_libraries/static/yeast_libraries/img/danny_3.png
src/yeast_libraries/static/yeast_libraries/img/danny_4.png
src/yeast_libraries/static/yeast_libraries/img/danny_5.png
src/logs
src/img_full_p.jpg
src/processBin.jpg
src/processBackSub.jpg
src/processBack.jpg
src/image_analysis/compare.py
src/lab/processBack.jpg
src/lab/processBackSub.jpg
src/lab/processBin.jpg
src/test.log
.idea/
venv_lab/
../venv_lab_linux/
venv_lab_linux/
