body
{
	background-color: #41ADF0;
}

.toast
{
	font-size: 50px;
	text-align: center;
	background-color: red;
}

.control_header
{
	margin-top: 0px;
	//background-color: red;
}

.control_clickable
{
	margin-top: 0px;
	font-size:smaller;
	text-align: center;
	//background-color: red;
}

.control_label
{
	margin-bottom: 0px;
	//background-color: red;
}

#batch_label, #batch_label_compared
{
	margin-bottom: 0px;
	//background-color: red;
}

#t_frame
{
	//width: 3900px;
	//background-color: green;
	text-align: center;
}

#tr_frame
{
	//background-color: pink;
}


#td_compared_control
{
	//background-color: orange;
	vertical-align: top;
}


#td_current_control
{
	//background-color: red;
	vertical-align: top;
}

#t_current
{
	//background-color: blue;
}

#header
{
	font-size: 60px;
	display: table-cell; 
	vertical-align: middle;
}

#img_batch
{
	//margin-left: 80 px;
	
}

#div_choice_action
{
	//background-color: red;
	display: table;
	width: 60%;
}

#div_header
{
	background-color:gray;
	display: table;
	height: 70px;
	//overflow: hidden;
}


#div_snapshot
{
	text-align:center;
	//background-color:yellow;
}


#register_stack
{
	margin-left: 10px;
}

#to_create_stack
{
	margin-left: 50px;
}


#t_current_analysis, #t_compared_analysis
{
	width: 50%;
	border: 2px solid gray;
}


.analysis_row
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: #6B0024;
	color: white;
}

.analysis_positive
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: #CCFFE6;
}


.analysis_td_true_negative
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: white;
}

.analysis_td_false_negative
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: #CCFFE6;
	color:#CD0A0A
}


.analysis_td_true_positive
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: #CCFFE6;
	color: blue;
}

.analysis_td_false_positive
{
	height: 15px;
	width: 100%;
	border: 1px solid gray;
	background-color: white;
	color: red;
}



#b_new_batch
{
	width: 100px;
}

.control_select
{
	width: 100%;
}

.control_select_option
{
	color : #ABF74D
	font-size: 50px;
}

.control
{
	/*margin-bottom: -10px;*/
	//background-color: green;
}

/*#library_list
{
	margin-top: 0px;
}*/


