
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Upload Library</title>	
		
		{% load staticfiles %}
		
		<script type="text/javascript" src="/static/lab/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/library_creator.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/library_register.js"></script>
		<script type="text/javascript" src="/static/lab/js/csrf_support.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/main.js"></script>
		
		
	</head>

	<body>
		
		<div id="div_form">
			
		</div>
		
		
	</body>

</html> 