

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mock-Up</title>	
		
		
		<script type="text/javascript" src="/static/lab/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/mockUp.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/static/yeast_libraries/css/mockUp.css" media="screen" />
		
	</head>

	<body>
		
			
		
		<h1 align="center">Icore instructions</h1>
		
		<div id="div_chooser">
			<p class="choice", onclick=goToByScroll('div_1')>1.   First</p>
			<p class="choice", onclick=goToByScroll('div_2')>1.   Second</p>
			<p class="choice", onclick=goToByScroll('div_3')>1.   Third</p>
		</div>
		
		
		
		<div id="div_1">
			<p class="text">1- how to open an account
				Once the user has been registered as a member of the icore team, 
			        the next step is to open the account, go to
			</p>
        
        	<a href="http://www.cs.huji.ac.il/register">http://www.cs.huji.ac.il/register</a>
        
			<p class="text">and this is what you should get:
				
			</p>
			<img src="/static/yeast_libraries/img/danny_1.png", class="images", height="300" width="500"> <img/>
			
			<p class="text">fill in with your teudat zehut 8 digits.
				the next screen will ask for your agreement:
			<p class="text">
			<img src="/static/yeast_libraries/img/danny_2.png", class="images", height="100" width="300"> <img/>
			
			<p class="text">once you agree, an SMS will be sent to your pre-registered cellular phone
				you will need this number to proceed to the next and final stage:
			</p>			
			
			<img src="/static/yeast_libraries/img/danny_3.png", class="images", height="100" width="300"> <img/>
			<p class="text">this will bring you to:
			</p>	
			<img src="/static/yeast_libraries/img/danny_4.png", class="images", height="100" width="300"> <img/>
			<p class="text">this last step might take a few seconds, and if successful
				you will see:
			</p>	
			
		</div>
		
		<div id="div_2">
			<p class="text">once you succeeded in opening the account, to login
					you will need an OTP (One Time Password).
					for that you can go to:
			</p>	
			
			<img src="/static/yeast_libraries/img/danny_4.png", class="images", height="100" width="300"> <img/>
			
			
			<a href="http://www.cs.huji.ac.il/register">http://hotp.cs.huji.ac.il</a>
			
			<p class="text">
			</p>
			
			<h2>
				
			</h2>
			
			<img src="/static/yeast_libraries/img/danny_5.png", class="images", height="400" width="300"> <img/>
			
			<p class="text">
				choose ‘Send sms with otps’, to login here you use the password from step 1
			</p>
			
			<p class="text">
				Follow the instructions, and you will get an SMS with 5 OTPs, each consisting of a 5 digit One-Time-Password.
You must use them in order, and once the list is exhausted, you must request another batch.
			</p>
						
			<p class="text">
				You can also select ‘Register device’, and you will be able to use your smart phone to generate the OTP
			</p>			
		</div>
			
		<div id="div_3">>
			
			<p class="text">
				for Developers only:
			</p>
			
			<p class="text">
				to be able to login, from an *UNIX host			
			</p>
						
			<p class="text">
				ssh -l user%hm-01 
				<a href="sg.cs.huji.ac.il">sg.cs.huji.ac.il</a>
			</p>	
			
			<p class="text">
				host can be any of hm-01, hm-02, hm-04
			</p>
			
			<p class="text">
				from a Windows host you can use putty:		
			</p>
						
			<p class="text">
				"c:\Program Files\putty\putty.exe" -ssh -l user%hm-01  
				<a href="sg.cs.huji.ac.il">sg.cs.huji.ac.il</a>
			</p>
			
			<p class="text">
				in both cases replace ‘user’ by your new login name.
			</p>
			
			<p class="text">
				if you are more adventurous you can add -X flag to ssh, and this will open an X11 session to your
				host.	
			</p>
			
			<p class="text">
				running batch jobs:

				YTC
			</p>		
					
		</div>

		
		<div>
				
		</div>
		
		<div>
				
		</div>

		<div>
				
		</div>


	</body>
	

</html> 