
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register Copy</title>	
		
		{% load staticfiles %}
		
		<script type="text/javascript" src="/static/lab/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/static/lab/js/jquery-ui-1.10.4.custom.js"></script>
		<script type="text/javascript" src="/static/lab/js/jquery.datetimepicker.js"></script>
		
		<script type="text/javascript" src="/static/yeast_libraries/js/main.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/copy_register.js"></script>
		<script type="text/javascript" src="/static/yeast_libraries/js/stack_register.js"></script>
		<script type="text/javascript" src="/static/lab/js/csrf_support.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/static/yeast_libraries/css/copy_register.css" media="screen" />
		
		<link rel="stylesheet" type="text/css" href="/static/lab/css/jquery.datetimepicker.css"/>
		
		
	</head>

	<body>
			

		
		<div id="div_stack_reg">
			
			
		</div>
		
	</body>

</html> 