
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Friedman Wet-Lab</title>
		
		{% load staticfiles %}
		
		<script type="text/javascript" src="static/lab/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="static/lab/js/csrf_support.js"></script>
		<script type="text/javascript" src="static/lab/js/main.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/lab/css/main.css" media="screen" />
		
	</head>

	<body>
		
		<h1>Friedman Wet-Lab</h1>
	
		<div id="div_choice">


		</div>
		
	</body>

</html> 